.header {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  /* width: 100%; */
  width: 100%;
  z-index: 900;
  padding: 0 150px;
  margin: 0;
}

.header .logo {
  display: inline-block;
  background: center / contain no-repeat url('/images/sml-main-logo.png');
  height: 200px;
  width: 340px;
  padding: 0;
  margin: 0;
}

.header .logo:hover {
  cursor: pointer;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  /* color: #F0412F; */
  /* color: #3B2F63; */
  color: #714FFD;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 200;
  padding: 6px;
  margin: 0 12px;
}

.header nav ul li:hover,
.header nav ul li a.active {
  color: #666666;
  color: #3B2F63;
  cursor: pointer;
}
