.workflow {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 120px 150px;
  margin: 0;
}

.workflow .tabs {
  display: flex;
  flex-direction: row;
  font-size: 130px;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 500;
}

.workflow .tabContent {
  /* background-color: #714FFD; */
  min-height: 400px;
  width: 100%;
  z-index: 100;
  position: relative;
  top: -40px;
  border-top: 1px solid #eee;
  padding: 0;
  padding-top: 50px;
  margin: 0;
  margin-top: 100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 10px 12px 8px #f4f2f9, -2px 10px 3px 2px #f4f2f9;
}

.workflow button {
  color: #714FFD;
  /* background: -webkit-linear-gradient(#eee, #714FFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background-color: transparent;
  font-size: 50px;
  height: 125px;
  width: 125px;
  margin: 0 12px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.workflow button span {
  color: #714FFD;
  font-size: 1.2rem;
  /* opacity: 0; */
}

.workflow button.selected,
.workflow button:hover,
.workflow button:hover span {
  opacity: 1;
  color: white;
  background-color: #714FFD;
  border: 1px solid #714FFD;
  transition: background-color 0.5s ease;
  transition: opacity 0.5s ease;
  transition: color 0.5s ease;
  cursor: pointer;
}

.workflow button:hover,
.workflow button.selected {
  box-shadow: 3px 3px 3px #b6b4b4;
}

.workflow button.selected span {
  color: white;
}
/* button.active {
  color: white;
  background-color: #714FFD;
} */

.workflow .tabs > button > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workflow span {
  color: #666666;
  font-family: sans-serif;
  font-size: 24px;
  margin-top: 12px;
}

.workflow > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
}

.workflow .arrows {
  display: flex;
  flex-direction: row;
  /* color: #828181; */
  /* color: #F0412F; */
  color: #666666;
  font-size: 25px;
  /* padding-bottom: 40px; */
}

.workflow .arrows i {
  display: inline-inline;
}
